.navbar {
    background-color: #333;
    font-size: 1.2em;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 1em;
}

.navbar ul li a {
    color: #fff;
}

.main-content {
    padding-top: 5em;
    text-align: center;
}

.main-content section {
    padding: 2em 1em;
}

.main-content#home h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.main-content#home p {
    font-size: 1.2em;
    color: #666;
}